*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*body*/
body{
    background-color:rgb(84, 200, 80);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*navegador*/
.navegador{
display: flex;
background-color: rgb(30, 156, 30);
justify-content: space-between;

}

.navul{
    display: flex;  
}

nav ul li{
    list-style-type: none;
    padding: 20px;
  
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li:hover{
  background-color: cadetblue;
  
}

/*cabezera*/
.cabezera{
    margin:30px;
    padding: 20px;
    height: 500px;
    background-image:url(./img/imagendefondoh1.jpg) ;
    background-size: 100% 100%;
      
}
.cabezare a {
    align-content:center;
}

.titulo{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-size: 100px;
 text-align: center;
}

.parrafo{
    
    font-size: 40px;
    text-align: center; 
    padding: 10px; 
    margin: 20px;
}
/*
.btn{
    background-color: rgb(0, 0, 0); 
    border-radius: 10px;
    color: rgb(84, 200, 80);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}
*/

/*carrucel*/
.carrucel {
    margin:30px;
    padding: 20px;
    height: 500px;
    background-color: aquamarine;
}

/*centro*/
.centro{
    display:block;
    justify-content:center;
}

/*izquierda*/
.izquierda{
    display: flex;
    justify-content: center;
}
.izquierda div {
    text-align: center;
}

.izquierda p{

    font-size: small;
   
    padding: 20px;
}
/*Banner*/
.banner{
    height: 200px;
    padding: 20px;
    margin: 25px;
    background-color: aquamarine;

}


/*footer*/

footer {
    background-color: black;
    color: white;
    text-align: center;
}


